.no-bullet div ul li {
    list-style-type: none;
}

.bg-lil-gray {
    background-color: #f1f2f2;
}

.navbar {
  overflow: hidden;
  background-color: #f1f2f2;
  position: fixed;
  top: 0;
  width: 100%;
}

.iskos {
    color: gray;
    font-size: 50px;
}

.font-size-bigger {
    font-size: 46px;
}